:root{
    /* Color */
    --white-color:#fff;
    --black-color:#140a00;
    --blue-color :#045fd4;
    --red-color:#ff0000;
    --gray-dark-color:#909090;
    --gray-light-color:#e0e0e0;

    /* Size */
    --side-padding : 12px;
    --padding : 10px;

    /* font-Size */
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.topbar{
    width:100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 50px;
    font-size: var(--font-large);
    font-weight: bold; 
    padding:var(--side-padding);
    cursor: pointer;
    color:var(--white-color); 
}

.fab{
    font-size: 22px;
    margin-right: 5px;
    color:var(--red-color);
    
}

.player{
    position:sticky;
    top:0;
    text-align: center;
    background-color: var(--black-color);
}

.player video{
    width:100%;
    max-width: 1000px;
}

.searchbar{
    height: 50px;
    font-size:var(--font-large); 
    padding: var(--side-padding);
    cursor: pointer;
    color :var(--white-color)  
}

.decription_wrap{
    padding:var(--padding);
}

.decriptionbar{
    width: 100%;
    margin:10px; 
}

.decription{
    font-size: 15px;
    font-weight: bolder;
    margin-top: 10px;
}
.hashtag{
    font-size: 13px;
    text-decoration: none;
}

.viewer{
    font-size: 12px;
    font-weight: bolder;
    color:var(--gray-dark-color);
}

.icons{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color:var(--gray-dark-color);
    margin:10px 0px;
    cursor: pointer;
}

.fa-thumbs-up{
    color:var(--blue-color);
}


.databar{
    display: flex;
    justify-content: space-between;
    padding: var(--side--padding);
    margin-top: 30px;
    border-top: 1px solid var(--gray-light-color);
    border-bottom:1px solid var(--gray-light-color);
}

.metadata{
    display: flex;
    align-items:center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}

.infomation{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.infomation .subscribers{
    font-size:12px;
} 

button{
    border:none;
    background-color: white;
    color:var(--red-color);
    font-weight: bold;
}

.nextupbar{
    padding:var(--side-padding);
}

.nextupbar>span{
    font-weight: bold;
}

.nextupvideo{
    display: flex;
    margin-top: 15px;;
}

.videodesc{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-weight: bold;
    font-size: var(--font-medium); 
}

.explain{
    max-height: 100px;
    overflow: hidden;
    
    
}

.view{
    font-size: var(--font-small);
    margin-top: 10px;
}

.descicon{
    margin-top: 10px;
}




@media screen and (min-width: 769px) {
    .informaion_wrap{
        display: flex;
    }

 }

 
 











